/*ui elements*/

h1, h2, h3, h4, h5, h6 {
	margin-bottom:10px;
}
h1 { font-size: 2.374em; font-weight:700;} /*title*/
h2 { font-size: 1.928em; margin-bottom:.25em; font-weight:600;}/*subtitle*/
h3 { font-size: 1.44em; margin-bottom:.25em}
h4 { font-size: 1.32em; margin-bottom:.25em}
h5 {
	font-size: 1.25em;
	line-height: 1.8em;
	color: #7c7c7c;
}
h6 { /*text in a feature/title/hero*/
	font-size: 1.1em;
	line-height:1.32em;
}
p { font-size: 1em; margin-bottom:.25em}/*text for reading, blog posts, etc*/

h2, h3, h4, p {
	color:#3e3e3e;
}

@media(max-width:767px) {
h1 { font-size: 2em; color:#363946;font-weight:700;} /*title*/
}


@media(min-width:768px) and (max-width:900px){
h1 { font-size: 2.374em; color:#363946;font-weight:700;} /*title*/
h2 { font-size: 1.928em; margin-bottom:.25em; font-weight:600;}/*subtitle*/
h3 { font-size: 1.44em; margin-bottom:.25em}
h4 { font-size: 1.32em; margin-bottom:.25em}
h5 {
	font-size: 1.25em;
    color: #7c7c7c;
	line-height: 1.8em;
}
}

/*--------------buttons---------*/
small { font-size: 0.833em; }
.box { padding: 1.25em; }
*[class^="btn"] {
	font-size:1rem;
  }
  .btn-blue {
	border:2px solid #2db7cf;
	border-radius:4px;
	color: #2db7cf;
	padding: .78571429em 1.5em .78571429em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	transition:.1s linear background-color;
  }
.btn-blue:hover {
	background-color:#2db7cf;
	color:white;
}
.btn-white {
	border:2px solid #ffffff;
	border-radius:4px;
	color: #ffffff;
	padding: .78571429em 1.5em .78571429em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	transition:.1s linear background-color;
  }
.btn-white:hover {
	background-color:#ffffff;
	color:black;
	mix-blend-mode: screen;
}
.btn-red {
	border:2px solid #ba271b;
	border-radius:4px;
	color: #ba271b;
	padding: .78571429em 1.5em .78571429em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	transition:.1s linear background-color;
}
.btn-red:hover {
	mix-blend-mode: screen;
	background-color:#ba271b;
	color:white;
}

.btn-bg-red {
	border:2px solid #ba271b;
	border-radius:40px;
	color: #ba271b;
	background:#ffffff ;
	padding: .78571429em 1.5em .78571429em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	transition:.1s linear;
}
.btn-bg-red:hover {
	mix-blend-mode: screen;
	background-color:#ba271b;
	color:white;
}
.btn-outline-white {
	border:2px solid rgba(255,255,255,.5);
	border-radius:4px;
	color: #f9fafb;
	padding: .78571429em 1.5em .78571429em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	transition:.1s linear background-color;
  } 
.btn-outline-white:hover {
	border-color:#f9fafb;
	color:#f9fafb;
}
.btn-outline-white:active {
	background-color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,.9);
	color:rgb(0,0,0);
	mix-blend-mode: screen;
}

.flicon {
	margin:20px 10px;
}

.space {
	padding:2.5%;
}
.space-big {
	padding:10.5%;
}
/*end ui.css*/
	h1 {  color:#363946;font-weight:700;} /*title*/
	h5 {
		color: #7c7c7c;
	}
	h6 { /*text in a feature/title/hero*/
		color: #7c7c7c;
	}
	
#hero h1 {
	color:#f9fafb;
}
#hero h2, #hero h3,#hero h4,#hero p {
	color:#f9fafb;
}

html {font-size:.95em;font-family:'Open Sans';
}
#hero {
	background:linear-gradient(to bottom, rgb(194, 82, 7), rgb(185, 31, 31));
	font-size:2em;
	height:100vh;
}
@media(max-width:900px) {

html {
	font-size:0.9em;
}
	#hero h3 {
		font-size:.8em;
		}
		#hero h1 {
		font-size:1.5em;
		}
	

		#hero a {
			margin-top:10px;
			width:80%;
		}
	}

.stack-first {
    margin-bottom:20px;
}
.flicon {
	margin-top:30px;
	margin-bottom:0px;
}

footer {
	margin-top:75px;
	padding:25px 0px;
	background: #2c2c35!important;
	
}
footer a {
	color:rgba(255,255,255,0.75)!important;
	text-decoration: none;
	font-size:1.23em;
}

section {
	margin-top:50px;
	margin-bottom:50px;
}

footer > .column {
	padding:10px;
}
footer h5 {
	color: white;
	font-weight:bold;
}
footer {
	font-size:.91em;
    color: #7c7c7c;
}
@media(min-width:901px) {

	footer > .column {
		padding:15px 30px;
	}
}

#features h2{
	margin-bottom:10px;
}
#features img{
	margin-top:30px;
	margin-bottom:20px;	
}
span {
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff4530!important;
    letter-spacing: 2px;
}

#modern-layouts .flexbox .column{
padding:0px!important;
padding-right:10px!important;
}
@media (max-width:900px)
{
	footer .column {
		padding-left:30px;
	}
	
}
@media (max-width:767px) {

	#img-1 {max-width:150px;margin-bottom:10px}
	#img-2 {max-width:150px;margin-bottom:10px}
	#img-3 {max-width:130px;margin-bottom:10px} 
}